<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youssef.fixit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_without_name"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixIt"
        android:usesCleartextTraffic="true">
        <activity android:name=".StaticPage.TermsandConditionsActivity"></activity>
        <activity android:name=".StaticPage.PrivacyPolicyActivity" />
        <activity android:name=".StaticPage.AboutUSActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".SplashActivity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Packages.SubscribePackageActivity" />
        <activity android:name=".Invoice.InvoiceActivity" />
        <activity android:name=".ShowProfile.ShowProfileActivity" />
        <activity android:name=".MyProfile.MyProfileActivity" />
        <activity android:name=".Contract.ContractScreenShotActivity" />
        <activity android:name=".PaymentTypes.Paypal.PaypalActivity" />
        <activity android:name=".InProgress.InProgressActivity" />
        <activity android:name=".Contract.DisplayAllMillestonesActivity" />
        <activity android:name=".Contract.DisplayContractActivity" />
        <activity android:name=".Milestones.MilestonesActivity" />
        <activity android:name=".Contract.CreateContractActivity" />
        <activity android:name=".Bids.BidsListActivity" />
        <activity android:name=".Bids.CreateBidActivity" />
        <activity android:name=".Projects.ProjectActivity" />
        <activity android:name=".AddWork.AddWorkActivity" />
        <activity android:name=".Auth.AuthActivity" />
        <activity android:name=".Home.HomeActivity" />
    </application>

</manifest>